<ion-content>
  <div class="theBody">
    <div class="left">
      <div class="box">
        <div class="step1" padding>
          <div class="logo-container">
            <div id="logoBG"></div>
          </div>
          <br><br>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat perferendis deserunt explicabo fuga eos
            perspiciatis qui ipsam quo, porro minima labore autem sit in eaque, nesciunt, hic blanditiis tempore
            incidunt!</p>
        </div>
        <div class="step2">
          <div class="slide-custom">
            
              <div class="dots">
                  <div id="theDot"></div>
                </div>
            <div class="theSlider">

              <div class="slideShow" id="page1">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga alias expedita sapiente laudantium
                  animi iusto, eos sunt dolor libero maxime nam necessitatibus distinctio voluptatibus reprehenderit
                  provident labore dolorum rem ab.</p>
                <input type="text" placeholder="Name" [(ngModel)]="orgName" required>
                <input type="text" placeholder="Address" [(ngModel)]="orgAdress" (change)="setAddress()">
                <input type="tel" placeholder="Phone" [(ngModel)]="orgPhone">
                <input type="text" placeholder="Website" [(ngModel)]="orgWebsite"><br>
                <textarea name="" id="orgDesc" placeholder="Organisation Description" cols="4"
                  [(ngModel)]="orgDescription"></textarea> <br>
                <button ion-button id="movetopage2" class="theButton" (click)="moveToPage2()">NEXT</button>
              </div>
              <div class="slideShow" id="page2">
                <p>Does the organisation have WiFi</p>
                <select class="select-css" [(ngModel)]="offerWifi" (change)="checkWifi()">
                  <option value="Do you offer WiFi" disabled>Do you offer WiFi?</option>

                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select><br>
              <div *ngIf="ShowWifi">
                <p>Is it free?</p>
                <select class="select-css"  [(ngModel)]="wifi" (change)="checkWifipayment()">
                  <option value="Is it free?" disabled>Is it free?</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select><br>
                <select class="select-css" *ngIf="ShowChooseRange" [(ngModel)]="chooseWifiRange">
                  <option value="Choose Range" disabled>Choose Range</option>
                  <option value="200MB Free">200MB Free</option>
                  <option value="1GB Free">1GB Free</option>
                  <option value="2GB Free">2GB Free</option>
                  <option value="Unlimited">Unlimited</option>
                </select>
              </div>
                
                <button ion-button class="theButton" (click)="moveToPage3()">NEXT</button>
                <button ion-button class="theButtonBack" (click)="backToPage1()">BACK</button>
              </div>
              <div class="slideShow" id="page3">
                <p>Almost there, please provide a category for the organisation.</p>
                <select class="select-css" (change)="showServices()" [(ngModel)]="category">
                  <option value="Do you offer WiFi" disabled> Choose category </option>
                  <option value="High Education Institution">High Education Institution </option>
                  <option value="Library">Library</option>
                  <option value="Learning Center">Learning Center</option>
                  <option value="InterCafe">InterCafe</option>
                  <option value="Mall">Mall</option>
                  <option value="Coffee Shop">Coffee Shop</option>
                </select><br>


                <div *ngIf="showheiServices" class="customSelect" (click)="HEIservices()">
                    {{catService}}
                    
                  <!--                     
                      <ion-select [(ngModel)]="HeiServices" multiple="true" cancelText="Cancel" okText="Okay"  (ionChange)="hei()">
                        <ion-option value="Testing and analystics" selected="true">Testing and analystics</ion-option>
                        <ion-option value="Rapid prototype">Rapid prototype</ion-option>
                        <ion-option value="Consulation" selected="true"> Consulation</ion-option>
                        <ion-option value="Research">Research</ion-option>
                        <ion-option value="Applied Research">Applied Research</ion-option>
                         </ion-select> -->
                </div>


                <div *ngIf="showLibaryServices" class="customSelect" (click)="LibraryServices()">
                    {{catService}}
                  <!-- <ion-item>
                      
                        <ion-select [(ngModel)]="LibaryServices" multiple="true" cancelText="Cancel" okText="Okay"  (ionChange)="libary()">
                          <ion-option value="Research" selected="true">Research</ion-option>
                          <ion-option value=">Training">Training</ion-option>
                         </ion-select>
                      </ion-item> -->
                </div>


                <div *ngIf="showinternetCafeServices" class="customSelect" (click)="internetCafe()">
                  {{catService}}
                  <!-- <ion-item>
                      
                        <ion-select [(ngModel)]="internetCafeService" multiple="true" cancelText="Cancel" okText="Okay"  (ionChange)="internet()">
                          <ion-option value="internet" selected="true">internet</ion-option>
                          <ion-option value="printing">printing</ion-option>
                          <ion-option value="fax">fax</ion-option>
                         
                         </ion-select>
                      </ion-item> -->
                </div>


                <div *ngIf="showlearningCenterServices" class="customSelect" (click)="learningCenter()">
                   {{catService}}
                </div>

                  <div *ngIf="showMallServices" class="customSelect" (click)="mall()">

                  </div>

                  
                  <div *ngIf="showCoffeeShopServices" class="customSelect" (click)=" Coffeeshops()">

                    <!-- <ion-select [(ngModel)]="mallService" multiple="true" cancelText="Cancel" okText="Okay">
                      <ion-option value="Training" selected="true">Training</ion-option>
                      <ion-option value="Skill development">Skill development</ion-option>
                      <ion-option value="Research">Research</ion-option>
                      <ion-option value="Incubation">Incubation</ion-option>
                    </ion-select> -->
                  </div>




                <textarea name="" id="orgDesc" placeholder="Provide clarity if any" cols="4"></textarea>
                <button ion-button class="theButton" (click)="moveToPage4()">NEXT</button>
                <button ion-button class="theButtonBack" (click)="backToPage2()">BACK</button>

              </div>
              <div class="slideShow" id="page4">
                <div class="description" padding>
                  {{orgName}}
                 {{orgDescription}}
                </div>

                <div  *ngFor="let a catService ">
                  {{a.title}}
                </div> <br>  <br>  <br>
                <!-- <textarea name="" id="orgDesc1" placeholder="Lorem ipsum dolor sit." cols="6"></textarea> -->
                <button ion-button class="theButton" (click)="saveToDB()">Done</button>
                <button ion-button class="theButtonBack" (click)="backToPage3()">BACK</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>