page-register{



@import url('https://fonts.googleapis.com/css?family=Fresca&display=swap');

    ion-content {
              background-image:linear-gradient(to bottom, rgb(239, 239, 239) ,rgba(193, 193, 193, 0.592)),url('../../assets/imgs/parl.jpg');
              background-size: cover;
    }


    #top-part {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 50%;
            width: auto;

        }

    }


    #register ion-input .text-input-md{
      color:white;
    }
    #register .button-inner{
      background:white;
      color:black !important;
    }
    #login .button-inner{
      background: #055705;
    }

    

    #bottom-part {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 16px;

        /* Extra small devices (phones, 600px and down) */
        @media only screen and (max-width: 600px) {
            #left-side {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 50%;
                // background: grey;
                display: flex;
                justify-content: right;
                align-items: center;
                flex-direction: column;
    
                // align-items: 
    
                #login {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    height: 75%;
                    width: 75%;
                    border-top-left-radius: 16px;
                    border-bottom-left-radius: 16px;
                    background: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    -webkit-box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
                    -moz-box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
                    box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
                      box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
    
                    h1 {
                        font-family: 'Fresca', sans-serif;
                    }
    
                    table {
                        width: 90%;
                        margin-top: 16px;
    
                        .input-style {
                            background: whitesmoke;
                            margin-bottom: 16px;
                            border-top-left-radius: 50px;
                        }
                        ion-icon {
                            color: gray;
                        }
    
                        tr:first-child td:first-child { border-top-left-radius: 50px; border-bottom-left-radius: 50px; }
                        tr:first-child td:last-child { border-top-right-radius: 50px;  border-bottom-right-radius: 50px;}
                        tr:last-child td:first-child { border-top-left-radius: 50px; border-bottom-left-radius: 50px; }
                        tr:last-child td:last-child { border-top-right-radius: 50px;  border-bottom-right-radius: 50px;}
                    }
    
                    button {
                        width: 80%;
                        border-radius: 50px;
                        margin-top: 16px;
                        background: rgb(5, 87, 5);

                    }
                    p{
                        color: gray;
                    }
                }
    
            }
    
            #register .button-inner{
              background:white
            }
            #right-side {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                width: 50%;
                // background: goldenrod;
                display: flex;
    
                #register {
                  border:2px solid red;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    height: 75%;
                    width: 75%;
                    border-top-right-radius: 16px;
                    border-bottom-right-radius: 16px;
                    background: rgba(5, 87, 5, 0.892);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    -webkit-box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
                    -moz-box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
                    box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
    
                    h1 {
                        color: white;
                        font-family: 'Fresca', sans-serif;
                    }

                    p {
                        font-size: 90%;
                    }
    
                    table {
                        width: 90%;
                        margin-top: 16px;
                        tr:first-child td:first-child { border-top-left-radius: 50px; border-bottom-left-radius: 50px; }
                        tr:first-child td:last-child { border-top-right-radius: 50px;  border-bottom-right-radius: 50px;}
                        tr:last-child td:first-child { border-top-left-radius: 50px; border-bottom-left-radius: 50px; }
                        tr:last-child td:last-child { border-top-right-radius: 50px;  border-bottom-right-radius: 50px;}
                        
                        .input-style {
                            background: rgb(8, 104, 8);
                            margin-bottom: 16px;
                            border-top-left-radius: 50px;
                        }
    
                        ion-icon {
                            color: ghostwhite;
                        }
    
    
                    }
    
                    button {
                        width: 80%;
                        border-radius: 50px;
                        margin-top: 16px;
                        background: white;
                        color: black;
                    }
                    p {
                        color: white;
                        span {
                            color: grey;
                        }
                        a {
                            color: whitesmoke;
                        }
                    }
              
    
                }
    
            }
    
            // FORGOT PASSWORD STYLE STARTS HERE
            // FORGOT PASSWORD STYLE STARTS HERE
            #forgot-password {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                // height: 85%;
                // margin-bottom: 16px;
                width: 85%;
                border-top-right-radius: 16px;
                border-bottom-right-radius: 16px;
                border-top-left-radius: 16px;
                border-bottom-left-radius: 16px;
                background: rgba(255, 255, 255, 0.604);
                display: flex;
                margin: 0 auto;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                -webkit-box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
                -moz-box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
                box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
    
                
                h1 {
                    color: rgb(75, 75, 75);
                    font-family: 'Fresca', sans-serif;
                }
    
                table {
                    width: 90%;
                    margin-top: 16px;
                    tr:first-child td:first-child { border-top-left-radius: 50px; border-bottom-left-radius: 50px; }
                    tr:first-child td:last-child { border-top-right-radius: 50px;  border-bottom-right-radius: 50px;}
                    tr:last-child td:first-child { border-top-left-radius: 50px; border-bottom-left-radius: 50px; }
                    tr:last-child td:last-child { border-top-right-radius: 50px;  border-bottom-right-radius: 50px;}
                    
                    .input-style {
                        background: rgb(211, 211, 211);
                        margin-bottom: 16px;
                        border-top-left-radius: 50px;
                    }

                    ion-input {
                        padding-left: 8px;
                    }

                    .icon-style {
                        text-align: center;
                    }
    
                    ion-icon {
                        color: grey;
                        margin: auto;
                        text-align: right;
                    }
    
    
                }
    
                button {
                    width: 80%;
                    border-radius: 50px;
                    margin-top: 16px;
                    background: rgb(5, 87, 5);
                    color: white;
                }
                p {
                    color: black;
                    span {
                        color: rgb(67, 67, 67);
                    }
                    a {
                        color: rgb(5, 87, 5);
                    }
                }
            }
        }
        
        /* Small devices (portrait tablets and large phones, 600px and up) */
        @media only screen and (min-width: 600px) {
            #left-side {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 50%;
                // background: grey;
                display: flex;
                justify-content: right;
                align-items: center;
                flex-direction: column;
    
                // align-items: 
    
                #login {
               
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    height: 75%;
                    width: 95%;
                    border-top-left-radius: 16px;
                    border-bottom-left-radius: 16px;
                    background: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    -webkit-box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
                    -moz-box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
                    box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
                      box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
    
                    h1 {
                        font-family: 'Fresca', sans-serif;
                    }
    
                    table {
                        width: 90%;
                        margin-top: 16px;
    
                        .input-style {
                            background: whitesmoke;
                            margin-bottom: 16px;
                            border-top-left-radius: 50px;
                        }
                        ion-icon {
                            color: gray;
                        }
    
                        tr:first-child td:first-child { border-top-left-radius: 50px; border-bottom-left-radius: 50px; }
                        tr:first-child td:last-child { border-top-right-radius: 50px;  border-bottom-right-radius: 50px;}
                        tr:last-child td:first-child { border-top-left-radius: 50px; border-bottom-left-radius: 50px; }
                        tr:last-child td:last-child { border-top-right-radius: 50px;  border-bottom-right-radius: 50px;}
                    }
    
                    button {
                        width: 80%;
                        border-radius: 50px;
                        margin-top: 16px;
                        background: rgb(5, 87, 5);
                        
    
                    }
                    p{
                        color: gray;
                    }
                }
    
            }
    
            #right-side {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                width: 50%;
                // background: goldenrod;
                display: flex;
    
                #register {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    height: 75%;
                    width: 95%;
                    border-top-right-radius: 16px;
                    border-bottom-right-radius: 16px;
                    background: rgba(5, 87, 5, 0.892);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    -webkit-box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
                    -moz-box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
                    box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
    
                    h1 {
                        color: white;
                        font-family: 'Fresca', sans-serif;
                    }

                    p {
                        font-size: 90%;
                    }
    
                    table {
                        width: 90%;
                        margin-top: 16px;
                        tr:first-child td:first-child { border-top-left-radius: 50px; border-bottom-left-radius: 50px; }
                        tr:first-child td:last-child { border-top-right-radius: 50px;  border-bottom-right-radius: 50px;}
                        tr:last-child td:first-child { border-top-left-radius: 50px; border-bottom-left-radius: 50px; }
                        tr:last-child td:last-child { border-top-right-radius: 50px;  border-bottom-right-radius: 50px;}
                        
                        .input-style {
                            background: rgb(8, 104, 8);
                            margin-bottom: 16px;
                            border-top-left-radius: 50px;
                        }
    
                        ion-icon {
                            color: ghostwhite;
                        }
    
    
                    }
    
                    button {
                        width: 80%;
                        border-radius: 50px;
                        margin-top: 16px;
                        background: white;
                        color: black;
                    }
                    p {
                        color: white;
                        span {
                            color: grey;
                        }
                        a {
                            color: whitesmoke;
                        }
                    }
    
                }
    
            }
    
            // FORGOT PASSWORD STYLE STARTS HERE
            // FORGOT PASSWORD STYLE STARTS HERE
            #forgot-password {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                // height: 85%;
                // margin-bottom: 16px;
                width: 85%;
                border-top-right-radius: 16px;
                border-bottom-right-radius: 16px;
                border-top-left-radius: 16px;
                border-bottom-left-radius: 16px;
                background: rgba(255, 255, 255, 0.604);
                display: flex;
                margin: 0 auto;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                -webkit-box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
                -moz-box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
                box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
    
                
                h1 {
                    color: rgb(75, 75, 75);
                    font-family: 'Fresca', sans-serif;
                }
    
                table {
                    width: 90%;
                    margin-top: 16px;
                    tr:first-child td:first-child { border-top-left-radius: 50px; border-bottom-left-radius: 50px; }
                    tr:first-child td:last-child { border-top-right-radius: 50px;  border-bottom-right-radius: 50px;}
                    tr:last-child td:first-child { border-top-left-radius: 50px; border-bottom-left-radius: 50px; }
                    tr:last-child td:last-child { border-top-right-radius: 50px;  border-bottom-right-radius: 50px;}
                    
                    .input-style {
                        background: rgb(211, 211, 211);
                        margin-bottom: 16px;
                        border-top-left-radius: 50px;
                    }

                    ion-input {
                        padding-left: 8px;
                    }

                    .icon-style {
                        text-align: center;
                    }
    
                    ion-icon {
                        color: grey;
                        margin: auto;
                        text-align: right;
                    }
    
    
                }
    
                button {
                    width: 80%;
                    border-radius: 50px;
                    margin-top: 16px;
                    background: rgb(5, 87, 5);
                    color: white;
                }
                p {
                    color: black;
                    span {
                        color: rgb(67, 67, 67);
                    }
                    a {
                        color: rgb(5, 87, 5);
                    }
                }
            }
        }
        
        /* Medium devices (landscape tablets, 768px and up) */
        @media only screen and (min-width: 768px) {
            #left-side {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 50%;
                // background: grey;
                display: flex;
                justify-content: right;
                align-items: center;
                flex-direction: column;
    
                // align-items: 
    
                #login {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    height: 75%;
                    width: 75%;
                    border-top-left-radius: 16px;
                    border-bottom-left-radius: 16px;
                    background: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    -webkit-box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
                    -moz-box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
                    box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
                      box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
    
                    h1 {
                        font-family: 'Fresca', sans-serif;
                    }
    
                    table {
                        width: 90%;
                        margin-top: 16px;
    
                        .input-style {
                            background: whitesmoke;
                            margin-bottom: 16px;
                            border-top-left-radius: 50px;
                        }
                        ion-icon {
                            color: gray;
                        }
    
                        tr:first-child td:first-child { border-top-left-radius: 50px; border-bottom-left-radius: 50px; }
                        tr:first-child td:last-child { border-top-right-radius: 50px;  border-bottom-right-radius: 50px;}
                        tr:last-child td:first-child { border-top-left-radius: 50px; border-bottom-left-radius: 50px; }
                        tr:last-child td:last-child { border-top-right-radius: 50px;  border-bottom-right-radius: 50px;}
                    }
    
                    button {
                        width: 80%;
                        border-radius: 50px;
                        margin-top: 16px;
                        background: rgb(5, 87, 5);
                        
    
                    }
                    p{
                        color: gray;
                    }
                }
    
            }
    
            #right-side {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                width: 50%;
                // background: goldenrod;
                display: flex;
    
                #register {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    height: 75%;
                    width: 75%;
                    border-top-right-radius: 16px;
                    border-bottom-right-radius: 16px;
                    background: rgba(5, 87, 5, 0.892);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    -webkit-box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
                    -moz-box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
                    box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
    
                    h1 {
                        color: white;
                        font-family: 'Fresca', sans-serif;
                    }

                    p {
                        font-size: 90%;
                    }
    
                    table {
                        width: 90%;
                        margin-top: 16px;
                        tr:first-child td:first-child { border-top-left-radius: 50px; border-bottom-left-radius: 50px; }
                        tr:first-child td:last-child { border-top-right-radius: 50px;  border-bottom-right-radius: 50px;}
                        tr:last-child td:first-child { border-top-left-radius: 50px; border-bottom-left-radius: 50px; }
                        tr:last-child td:last-child { border-top-right-radius: 50px;  border-bottom-right-radius: 50px;}
                        
                        .input-style {
                            background: rgb(8, 104, 8);
                            margin-bottom: 16px;
                            border-top-left-radius: 50px;
                        }
    
                        ion-icon {
                            color: ghostwhite;
                        }
    
    
                    }
    
                    button {
                        width: 80%;
                        border-radius: 50px;
                        margin-top: 16px;
                        background: white;
                        color: black;
                    }
                    p {
                        color: white;
                        span {
                            color: grey;
                        }
                        a {
                            color: whitesmoke;
                        }
                    }
    
                }
    
            }
    
            // FORGOT PASSWORD STYLE STARTS HERE
            // FORGOT PASSWORD STYLE STARTS HERE
            #forgot-password {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                // height: 85%;
                // margin-bottom: 16px;
                width: 85%;
                border-top-right-radius: 16px;
                border-bottom-right-radius: 16px;
                border-top-left-radius: 16px;
                border-bottom-left-radius: 16px;
                background: rgba(255, 255, 255, 0.604);
                display: flex;
                margin: 0 auto;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                -webkit-box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
                -moz-box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
                box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
    
                
                h1 {
                    color: rgb(75, 75, 75);
                    font-family: 'Fresca', sans-serif;
                }
    
                table {
                    width: 90%;
                    margin-top: 16px;
                    tr:first-child td:first-child { border-top-left-radius: 50px; border-bottom-left-radius: 50px; }
                    tr:first-child td:last-child { border-top-right-radius: 50px;  border-bottom-right-radius: 50px;}
                    tr:last-child td:first-child { border-top-left-radius: 50px; border-bottom-left-radius: 50px; }
                    tr:last-child td:last-child { border-top-right-radius: 50px;  border-bottom-right-radius: 50px;}
                    
                    .input-style {
                        background: rgb(211, 211, 211);
                        margin-bottom: 16px;
                        border-top-left-radius: 50px;
                    }

                    ion-input {
                        padding-left: 8px;
                    }

                    .icon-style {
                        text-align: center;
                    }
    
                    ion-icon {
                        color: grey;
                        margin: auto;
                        text-align: right;
                    }
    
    
                }
    
                button {
                    width: 80%;
                    border-radius: 50px;
                    margin-top: 16px;
                    background: rgb(5, 87, 5);
                    color: white;
                }
                p {
                    color: black;
                    span {
                        color: rgb(67, 67, 67);
                    }
                    a {
                        color: rgb(5, 87, 5);
                    }
                }
            }
        } 
        
        /* Large devices (laptops/desktops, 992px and up) */
        @media only screen and (min-width: 992px) {
            #left-side {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 50%;
                // background: grey;
                display: flex;
                justify-content: right;
                align-items: center;
                flex-direction: column;
    
                // align-items: 
    
                #login {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    height: 55%;
                    width: 75%;
                    border-top-left-radius: 16px;
                    border-bottom-left-radius: 16px;
                    background: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    -webkit-box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
                    -moz-box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
                    box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
    
                    h1 {
                        font-family: 'Fresca', sans-serif;
                    }
    
                    table {
                        width: 90%;
                        margin-top: 16px;
    
                        .input-style {
                            background: whitesmoke;
                            margin-bottom: 16px;
                            border-top-left-radius: 50px;
                        }
                        ion-icon {
                            color: gray;
                        }
    
                        tr:first-child td:first-child { border-top-left-radius: 50px; border-bottom-left-radius: 50px; }
                        tr:first-child td:last-child { border-top-right-radius: 50px;  border-bottom-right-radius: 50px;}
                        tr:last-child td:first-child { border-top-left-radius: 50px; border-bottom-left-radius: 50px; }
                        tr:last-child td:last-child { border-top-right-radius: 50px;  border-bottom-right-radius: 50px;}
                    }
    
                    button {
                        width: 80%;
                        border-radius: 50px;
                        margin-top: 16px;
                        background: rgb(5, 87, 5);
                        
    
                    }
                    p{
                        color: gray;
                    }
                }
    
            }
    
            #right-side {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                width: 50%;
                // background: goldenrod;
                display: flex;
    
                #register {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    height: 55%;
                    width: 75%;
                    border-top-right-radius: 16px;
                    border-bottom-right-radius: 16px;
                    background: rgba(5, 87, 5, 0.892);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    -webkit-box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
                    -moz-box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
                    box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
    
                    h1 {
                        color: white;
                        font-family: 'Fresca', sans-serif;
                    }
    
                    table {
                        width: 90%;
                        margin-top: 16px;
                        tr:first-child td:first-child { border-top-left-radius: 50px; border-bottom-left-radius: 50px; }
                        tr:first-child td:last-child { border-top-right-radius: 50px;  border-bottom-right-radius: 50px;}
                        tr:last-child td:first-child { border-top-left-radius: 50px; border-bottom-left-radius: 50px; }
                        tr:last-child td:last-child { border-top-right-radius: 50px;  border-bottom-right-radius: 50px;}
                        
                        .input-style {
                            background: rgb(8, 104, 8);
                            margin-bottom: 16px;
                            border-top-left-radius: 50px;
                        }
    
                        ion-icon {
                            color: ghostwhite;
                        }
    
    
                    }
    
                    button {
                        width: 80%;
                        border-radius: 50px;
                        margin-top: 16px;
                        background: white;
                        color: black;
                    }
                    p {
                        color: white;
                        span {
                            color: grey;
                        }
                        a {
                            color: whitesmoke;
                        }
                    }
    
                }
    
            }
    
            // FORGOT PASSWORD STYLE STARTS HERE
            #forgot-password {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                // height: 85%;
                // margin-bottom: 16px;
                width: 35%;
                border-top-right-radius: 16px;
                border-bottom-right-radius: 16px;
                border-top-left-radius: 16px;
                border-bottom-left-radius: 16px;
                background: rgba(255, 255, 255, 0.604);
                display: flex;
                margin: 0 auto;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                -webkit-box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
                -moz-box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
                box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
    
                
                h1 {
                    color: rgb(75, 75, 75);
                    font-family: 'Fresca', sans-serif;
                }
    
                table {
                    width: 90%;
                    margin-top: 16px;
                    tr:first-child td:first-child { border-top-left-radius: 50px; border-bottom-left-radius: 50px; }
                    tr:first-child td:last-child { border-top-right-radius: 50px;  border-bottom-right-radius: 50px;}
                    tr:last-child td:first-child { border-top-left-radius: 50px; border-bottom-left-radius: 50px; }
                    tr:last-child td:last-child { border-top-right-radius: 50px;  border-bottom-right-radius: 50px;}
                    
                    .input-style {
                        background: rgb(211, 211, 211);
                        margin-bottom: 16px;
                        border-top-left-radius: 50px;
                    }

                    ion-input {
                        padding-left: 8px;
                    }

                    .icon-style {
                        text-align: center;
                    }
    
                    ion-icon {
                        color: grey;
                        margin: auto;
                        text-align: right;
                    }
    
    
                }
    
                button {
                    width: 80%;
                    border-radius: 50px;
                    margin-top: 16px;
                    background: rgb(5, 87, 5);
                    color: white;
                }
                p {
                    color: black;
                    span {
                        color: rgb(67, 67, 67);
                    }
                    a {
                        color: rgb(5, 87, 5);
                    }
                }
            }
        } 
        
        /* Extra large devices (large laptops and desktops, 1200px and up) */
        @media only screen and (min-width: 1200px) {
                    /* Extra large devices (large laptops and desktops, 1200px and up) */
            #left-side {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 50%;
                // background: grey;
                display: flex;
                justify-content: right;
                align-items: center;
                flex-direction: column;
    
                // align-items: 
    
                #login {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    height: 55%;
                    width: 55%;
                    border-top-left-radius: 16px;
                    border-bottom-left-radius: 16px;
                    background: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    -webkit-box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
                    -moz-box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
                    box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
    
                    h1 {
                        font-family: 'Fresca', sans-serif;
                    }
    
                    table {
                        width: 90%;
                        margin-top: 16px;
    
                        .input-style {
                            background: whitesmoke;
                            margin-bottom: 16px;
                            border-top-left-radius: 50px;
                        }
                        ion-icon {
                            color: gray;
                        }
    
                        tr:first-child td:first-child { border-top-left-radius: 50px; border-bottom-left-radius: 50px; }
                        tr:first-child td:last-child { border-top-right-radius: 50px;  border-bottom-right-radius: 50px;}
                        tr:last-child td:first-child { border-top-left-radius: 50px; border-bottom-left-radius: 50px; }
                        tr:last-child td:last-child { border-top-right-radius: 50px;  border-bottom-right-radius: 50px;}
                    }
    
                    button {
                        width: 80%;
                        border-radius: 50px;
                        margin-top: 16px;
                        background: rgb(5, 87, 5);
                        
    
                    }
                    p{
                        color: gray;
                    }
                }
    
            }
    
            #right-side {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                width: 50%;
                // background: goldenrod;
                display: flex;
    
                #register {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    height: 55%;
                    width: 55%;
                    border-top-right-radius: 16px;
                    border-bottom-right-radius: 16px;
                    background: rgba(5, 87, 5, 0.892);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    -webkit-box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
                    -moz-box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
                    box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
    
                    h1 {
                        color: white;
                        font-family: 'Fresca', sans-serif;
                    }
    
                    table {
                        width: 90%;
                        margin-top: 16px;
                        tr:first-child td:first-child { border-top-left-radius: 50px; border-bottom-left-radius: 50px; }
                        tr:first-child td:last-child { border-top-right-radius: 50px;  border-bottom-right-radius: 50px;}
                        tr:last-child td:first-child { border-top-left-radius: 50px; border-bottom-left-radius: 50px; }
                        tr:last-child td:last-child { border-top-right-radius: 50px;  border-bottom-right-radius: 50px;}
                        
                        .input-style {
                            background: rgb(8, 104, 8);
                            margin-bottom: 16px;
                            border-top-left-radius: 50px;
                        }
    
                        ion-icon {
                            color: ghostwhite;
                        }
    
    
                    }
    
                    button {
                        width: 80%;
                        border-radius: 50px;
                        margin-top: 16px;
                        background: white;
                        color: black;
                    }
                    p {
                        color: white;
                        span {
                            color: grey;
                        }
                        a {
                            color: whitesmoke;
                        }
                    }
    
                }
    
            }
    
            // FORGOT PASSWORD STYLE STARTS HERE
            // FORGOT PASSWORD STYLE STARTS HERE
            #forgot-password {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                // height: 85%;
                // margin-bottom: 16px;
                width: 25%;
                border-top-right-radius: 16px;
                border-bottom-right-radius: 16px;
                border-top-left-radius: 16px;
                border-bottom-left-radius: 16px;
                background: rgba(255, 255, 255, 0.604);
                display: flex;
                margin: 0 auto;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                -webkit-box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
                -moz-box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
                box-shadow: 0px 0px 5px 0px rgba(105,105,105,1);
    
                
                h1 {
                    color: rgb(75, 75, 75);
                    font-family: 'Fresca', sans-serif;
                }
    
                table {
                    width: 90%;
                    margin-top: 16px;
                    tr:first-child td:first-child { border-top-left-radius: 50px; border-bottom-left-radius: 50px; }
                    tr:first-child td:last-child { border-top-right-radius: 50px;  border-bottom-right-radius: 50px;}
                    tr:last-child td:first-child { border-top-left-radius: 50px; border-bottom-left-radius: 50px; }
                    tr:last-child td:last-child { border-top-right-radius: 50px;  border-bottom-right-radius: 50px;}
                    
                    .input-style {
                        background: rgb(211, 211, 211);
                        margin-bottom: 16px;
                        border-top-left-radius: 50px;
                    }

                    ion-input {
                        padding-left: 8px;
                    }

                    .icon-style {
                        text-align: center;
                    }
    
                    ion-icon {
                        color: grey;
                        margin: auto;
                        text-align: right;
                    }
    
    
                }
    
                button {
                    width: 80%;
                    border-radius: 50px;
                    margin-top: 16px;
                    background: rgb(5, 87, 5);
                    color: white;
                }
                p {
                    color: black;
                    span {
                        color: rgb(67, 67, 67);
                    }
                    a {
                        color: rgb(5, 87, 5);
                    }
                }
            }
        }
      }
}