<head>
</head>

<body>
  <div class="start">
    <div class="absolutely">
      <div class="arrow">
        <div class="clicker" (click)="decideState()">
          <i class="material-icons" id="myArrow"></i>
        </div>
        <b style="color:black">
          organisations
        </b>

        <div class="show-other-orgs">
          <ion-slides slidesPerView="5.125">
            <ion-slide class="card-background-page" *ngFor="let i of orgArray">
              <div class="row" id="rowSlide">
                <div class="column1">
                  <div class="row">
                    <div class="column-left-2">
                      <img class="org-img-2" src="{{i.img}}" />
                    </div>
                      <div class="column-right-2">
                        <p class="org-name-2">{{ i.programCategory }}</p>
                        <div class="scroll">
                        <div class="date">
                          <p> Opening Date:{{i.programStartDate}}</p>
                         <p> Closing Date:{{i.programCloseDate}}</p>
                         <p>TargetMarket:{{i.targetAudience}}</p>
                        </div>
                      </div>
                    </div>
              
                  </div>
                </div>
              </div>
            </ion-slide>
          </ion-slides>
        </div>

      </div>
    </div>
    <ion-searchbar class="searchBar" placeholder="Search by city or name" (ionInput)="getItems($event)">
    </ion-searchbar>
    <div class="results">
      <ion-item *ngFor="let item of items" (click)="goToViewPage(item)">
        {{ item}}
      </ion-item>
    </div>



    <div class="tab" style="display: flex;align-content: center; align-items: center;">
      <div class="WebName" style="display: flex; flex-direction: row; align-content: center; align-items: center; justify-content: center;">
        <img src="../../assets/imgs/4IR logo.png" alt=""> 4IR Resources Hub
      </div>
    </div>
    <ion-searchbar class="searchBar" [(ngModel)]="searchItem" placeholder="Search by category" (ionInput)="getItems($event)">
    </ion-searchbar>
    <div class="results">
      <ion-item id="itemsearch" *ngFor="let item of items" (click)="viewInfor(item)">
        {{ item}}
      </ion-item>
    </div>
    <div class="tab">
      <div class="action">
        <div>

          <p id="my2001" (click)="goToProfile()">
            <b id="Orgo">ORGANISATION PROFILE</b>
          </p>
        </div>
      </div>
    </div>
    <div class="profOverlay">
      <input type="file" accept="image/*" id="coverUploader" (change)="UploadProfilePic($event)">
      <input type="file" accept="image/*" id="logoUploader" (change)="UploadLogo($event)">
      <input type="file" accept="image/jpg, image/jpeg" id="galInput" [(ngModel)]="galleryupload" (change)="getImages($event)">
      <div class="overlay">
        <div class="addBranch">
          <div class="dismisser" (click)="closeDIV()">
            <i style="color: black" id="DismisIcon" class="material-icons">close</i>
          </div>
          <label for="coverUploader">
            <img src="{{url1}}" alt="" class="coverToUpload">
          </label>
          <h3>Edit branch details</h3>
          <div class="editForm">
            <input type="text" placeholder="Branch Name" [value]="name1" [(ngModel)]="name1">
            <br>
            <input type="email" placeholder="Email" [value]="email1" [(ngModel)]="email1">
            <br>
            <input type="text" placeholder="Tel" [value]="tel1" [(ngModel)]="tel1">
            <br>
            <textarea name="" id="" cols="30" rows="4" placeholder="Address" [(ngModel)]="city1" [value]="city1"></textarea>
            <br>
          </div>
          <button id="submitter" (click)="addProgramme()">submit</button>
        </div>
      </div>


      <div class="cont">



        <div class="gallery">
          <!-- (click)="showGal()" -->
          <h6 class="GAlNAme">
            <!-- <i id="GalIcon" class="material-icons">view_list</i> -->
            Organization Details</h6>

          <p class="sizeFont">Name</p>
          <p class="fonttext">
            {{name1}}
          </p>
          <p class="sizeFont">Desciption</p>
          <p class="fonttext">
            {{desc1}}
          </p>
          <p class="sizeFont">Contact</p>
          <p class="fonttext">
            {{contact1}}
          </p>
          <p class="sizeFont">Address</p>
          <p class="fonttext">
            {{address1}}
          </p>
        </div>
        <ion-fab bottom right>

          <!-- <label ion-fab for="galInput">
        
                  <ion-icon name="images">
                  </ion-icon>
                </label> -->

          <button ion-fab mini (click)="addProgramme()">
            <ion-icon name="list"></ion-icon>
          </button>
        </ion-fab>
        <!-- <button (click)="EditPrfile()">update profile</button> -->
        <div class="dismisser" id="profDismisser" (click)="closeProfile()">
          <ion-icon name="close"></ion-icon>
        </div>
        <div class="coverPhoto">
          <ion-fab bottom right>

            <label class="imageSaver" ion-button mini (click)="UpdateCover()">

                        Upload Cover
            </label>
          </ion-fab>
          <div id="signOut" (click)="signOut()">
            <p>Sign Out</p>
          </div>
          <div class="about">
            <div class="displayPicturee">

            <label for="logoUploader">
              <img src="{{downloadurlLogo}}" alt="" class="logo">
            </label>
            <label class="imageSaver2" ion-button mini (click)="UpdateLogo()">
              Upload Logo
            </label>
            </div>
            <h6>About</h6>
            <p class="font" id="breaker">{{desc}}</p>
            <h6>Address</h6>
            <p class="font" id="breaker">{{address}}</p>
            <h6>Contact Details</h6>
            <p class="font" id="breaker">{{cell}}
              <br>
            </p>
          </div>

          <h2 id="orgName">{{name}}</h2>
          <label for="coverUploader">
            <img src="{{downloadurl}}" id="coverIMG" alt="">
          </label>


        </div>
        <div class="uploads">
          <div class="imagesUploaded">
            <b class="sizefont">Objective</b>
            <p class="font1">{{objectives}}</p>

            <b class="sizefont">Programme Benefits</b>
            <p class="font1">{{programBenefits}}</p>

            <b class="sizefont">Criteria</b>
            <p class="font1">{{eligibleCreteria}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="content" #map id="map">
    </div>

  </div>
</body>