<ion-content>
  <div class="start">
    <!-- <ion-fab id="search">
      <button ion-fab mini>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-fab> -->
    <ion-searchbar class="searchBar" placeholder="Search by city or name" (ionInput)="getItems($event)">
    </ion-searchbar>
    <div class="results">
      <ion-item *ngFor="let item of items" (click)="goToViewPage(item)">
          {{ item}}
        </ion-item>
    </div>
    <!-- <div class="needs">
      <p>Use this section to add your organisation's needs to get support from your potential sponsors and contributors.
      </p>
      <input type="text" placeholder="Title" class="inp" [(ngModel)]="title"><br>
      <input type="text" placeholder="Price" class="inp" [(ngModel)]="price">
      <textarea name="" id="descr" placeholder="Describe your organisation's service here..." rows="5"
        [(ngModel)]="description"></textarea>
      <div class="theBtn" (click)="addContributes()">Add to list</div>
      <br>
      <button ion-button full color="primary" class="dag" (click)="pullDown()">
        <ion-icon name="arrow-down" id="orger"></ion-icon>
      </button>
    </div> -->
    <div class="chartOverlay" id="theGreenOne">
      Ratings
      <div class="chart" id="myRate">
        <canvas id="ourRatings"></canvas>
      </div> <br>
      Views
      <div class="chart" id="myViews">
        <canvas id="views"></canvas>
      </div>
    </div>

    <div class="tab">
      <div class="action">
        <div>

          <p id="my2001" (click)="goToProfile()"><b id="Orgo">ORGANISATION PROFILE</b>
          </p>
        </div>
      </div>
    </div>
    <div class="profOverlay">
      <input type="file" accept="image/jpg, image/jpeg" id="coverUploader" (change)="changeCover($event)">
      <input type="file" accept="image/jpg, image/jpeg" id="logoUploader" (change)="changeLogo($event)">
      <input type="file" accept="image/jpg, image/jpeg" id="galInput" [(ngModel)]="galleryupload"
        (change)="getImages($event)">
      <!-- <div class="gallery">
        <label for="galInput">
          <div class="adder">
            <i class="material-icons">add</i></div>
        </label><br>
        <div class="array" *ngFor="let x of imagesArr">
          <img src="{{x.GalUrl}}" alt="" class="images">
        </div>

      </div> -->
      <div class="cont">
        <ion-fab bottom right>
          <button ion-fab mini>
            <ion-icon name="images">

            </ion-icon>
          </button>
        </ion-fab>
        <div class="dismisser" id="profDismisser" (click)="closeProfile()">
          <ion-icon name="close"></ion-icon>
        </div>
        <div class="coverPhoto">
          <div id="signOut" (click)="signOut()">
            <p>Sign Out</p>
          </div>
          <div class="about">
            <label for="logoUploader">
              <img src="../../assets/imgs/11.jfif" alt="" class="logo">
            </label>
            <h3>About</h3>
            <p id="breaker">{{desc}}</p>
            <h3>Address</h3>
            <p id="breaker">{{address}}</p>
            <h3>Contact Details</h3>
            <p id="breaker">{{contact}}<br>
              {{email}}</p>
            <h2 class="keepFixed">Gallery</h2>
          </div>
          <h2 id="orgName">{{name}}</h2>
          <p class="paragraph">Internet Cafe</p>
          <label for="coverUploader">
            <img src="../../assets/imgs/11.jfif" id="coverIMG" alt="">
          </label>


        </div>

        <div class="branches">
          <img src="../../assets/imgs/11.jfif" id="uploaded-image" alt="" imageViewer>
        </div>
      </div>
    </div>


    <div class="content" #map id="map">

      <div class="loader">
        Loading Map...
      </div>
    </div>
    <!-- <div class="absolutely">
        <div class="arrow">
          <div class="clicker" (click)="decideState()">
            <i class="material-icons" id="myArrow">keyboard_arrow_up</i>
          </div>
          <div class="list">
            <div class="gal" id="push" *ngFor="let a of organizationArr">
                <span class="tooltiptext">{{a.desc}}</span>
              <img src="{{a.Url}}" alt="">
            </div>
          </div>
        </div>
      </div> -->
  </div>
</ion-content>