// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.myAlert{
    color: black
}
.alert-head, .alert-title{
    color: black !important;
}
.alert-sub-title{
    color: black;
}
.alert-button{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0) !important;
    border: 0;
}

.item{
    // background: red;
}

.item-block {
    margin: 0 auto;;
    padding: 0;
    text-align: initial;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    width: 85%;
    min-height: 4.4rem;
    border: 0;
    font-weight: normal;
    line-height: normal;
    text-decoration: none;
    color: inherit;
}
// .ion-select {
//     display: -webkit-box;
//     display: -webkit-flex;
//     display: -ms-flexbox;
//     display: block;
//     overflow: hidden;
//     overflow-x: hidden;
//     overflow-y: hidden;
//     width: 100%;
// }

.alert-wrapper, .alert-head, .alert-message, .alert-button-group, .alert-button,.button-inner, .alert-sub-title, .alert-checkbox-group{
    color: white;
    background: #04592a;
    border: 0;
}
.alert-checkbox-button{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    border: 2px solid #04592a;
    color: white;
}
.alert-checkbox-label, .alert-title{
    color: white !important;
}