page-forgotpassword {
    .inputs{
        padding: 10px;
        width: 450px;
        height: 300px;
        background: whitesmoke;
        position: relative;
        left: 50%;
        top: 50%;
        // height: 50%;
        transform: translate(-50%,-50%);
        color: black;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.233);
        h3{
            color: black;
            font-weight: bolder;
        }
        p{
            color: black;
            // border: 2px solid red;
            width: 100%;
            padding-top: 10%;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 20px;
        }
    }
    .textbox{
        width: 90%;
        border: 1px solid grey;
        color: black;
    }
    .btn{
        border-radius: 50px;
    }
    
::-webkit-input-placeholder {
    color: grey;
  }
    
}
