<ion-content>
  <div class="outer-div">
    <div class="inner-div">
      <div class="div-left">
          <div id="logoBG"></div>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere, tenetur fugit laudantium modi itaque error repellat hic vero, culpa quis, placeat doloremque impedit esse? Illum cumque ut sed expedita! Laboriosam.</p>
        </div>
      <div class="div-right">
        <div class="for-orgs">
          <div id="page1">
              <div class="steps">
                <p>Step 1 of 4</p>
              </div>
            <div class="user-inputs">
              <p id="intro-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus impedit repellat
                ipsa accusamus earum sunt, doloremque illo consequuntur qui. Iusto!</p>
              <input type="text" class="inputText" placeholder="Name" [(ngModel)]="orgName" required>
              <input type="text" class="inputText" placeholder="Address" [(ngModel)]="orgAdress"
                (change)="setAddress()">
              <input type="tel" class="inputText" placeholder="Phone"
                onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" [(ngModel)]="orgPhone">
              <input type="url" class="inputText" id="web" placeholder="Website" [(ngModel)]="orgWebsite">
              <textarea name="" id="orgDesc" max="250" placeholder="Organisation Description" cols="4" [(ngModel)]="orgDescription"></textarea>

            </div>
            <div class="navButtons">
              <button ion-button icon-end (click)="moveToPage2()">
                Continue
                <ion-icon name="arrow-forward"></ion-icon>
              </button>
            </div>
          </div>
          <!-- ========================================================================================================================================================================= -->
          <div id="page2">
            <div class="steps">
              <p>Step 2 of 4</p>
            </div>
            <div class="user-inputs">
                <p>Does the organisation have WiFi</p>
                <select class="select-css" [(ngModel)]="offerWifi" (change)="checkWifi()">
                  <option value="Do you offer WiFi" disabled>Do you offer WiFi?</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
                <br>
                <div>
                  <p>Is it free?</p>
                  <select class="select-css" [(ngModel)]="wifi" (change)="checkWifipayment()">
                    <option value="Is it free?" disabled>Is it free?</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
                  <br>

                </div>
                  <div>
                    <p>What is your pricing?</p>
                    <select class="select-css" [(ngModel)]="chooseWifiRange">
                      <option value="Choose Range" disabled>Choose Range</option>
                      <option value="200MB Free">200MB Free</option>
                      <option value="1GB Free">1GB Free</option>
                      <option value="2GB Free">2GB Free</option>
                      <option value="Unlimited">Unlimited</option>
                    </select>
                  </div>
            </div>

            <div class="navButtons">
                <button ion-button icon-start (click)="backToPage1()">
                  <ion-icon name="arrow-back"></ion-icon>
                  BACK
                </button>
                <button ion-button icon-end (click)="moveToPage3()">NEXT
                  <ion-icon name="arrow-forward"></ion-icon>
                </button>
            </div>
          </div>
          <div id="page3">
              <div class="steps">
                <p>Step 3 of 4</p>
              </div>
              <div class="user-inputs">
                  <p>Almost there, please provide a category for the organisation.</p>
                  <select class="select-css" (change)="showServices()" [(ngModel)]="category">
                    <option value="Do you offer WiFi" disabled> Choose category </option>
                    <option value="Higher Education Institution">Higher Education Institution </option>
                    <option value="Library">Library</option>
                    <option value="Learning Center">Learning Center</option>
                    <option value="InterCafe">InterCafe</option>
                    <option value="Mall">Mall</option>
                    <option value="Coffee Shop">Coffee Shop</option>
                  </select>
                  <br>
                  <div class="customSelect" (click)="HEIservices()" *ngIf="showheiServices">
                    Select your services 
                    <!-- {{catService.title}} -->
                  </div>
                  <br>
  
  
                  <div class="customSelect" (click)="LibraryServices()" *ngIf="showLibaryServices" >
                    Select your services 
                    <!-- {{catService}} -->
                  </div>
                  <br>
                  <div class="customSelect" (click)="internetCafe()" *ngIf="showinternetCafeServices">
                    Select your services 
                    <!-- {{catService}} -->
                  </div>
                  <br>
                  <div class="customSelect" (click)="learningCenter()" *ngIf="showlearningCenterServices">
                    Select your services 
                  </div>
                  <div class="customSelect" (click)="mall()" *ngIf="showMallServices">
                      
                  </div>
                  <div class="customSelect" (click)=" Coffeeshops()" *ngIf="showCoffeeShopServices">
                    Select your services 
                  </div>
  
                  <div>
                    <!-- &#65517; {{a.title}} -->
                     *ngFor="let a of catService"
                  </div>
  
  
                  <div>
  
                  </div>
                  <br>
                  <textarea name="" id="orgDesc" placeholder="Provide clarity if any" cols="4"></textarea>
              </div>
              <div class="navButtons">
                  <button ion-button icon-start (click)="backToPage1()">
                    <ion-icon name="arrow-back"></ion-icon>
                    BACK
                  </button>
                  <button ion-button icon-end (click)="moveToPage4()">NEXT
                    <ion-icon name="arrow-forward"></ion-icon>
                  </button>
              </div>

          </div>
          <div id="page4">
              <div class="steps">
                <p>Step 4 of 4</p>
              </div>
              <div class="user-inputs">
                
                  <p><i>
                    
                      Please confirm all the information you have inserted on the form, if everything is correct, please click "Done" to continue.
                  </i></p>
                    <div class="description" padding>
  
                      <h3>{{orgName}}</h3>
                      <p>
                        <b>Address</b>
                        <br> {{orgAdress}}</p>
                      <p>
                        <b>Tel:</b> {{orgPhone}}</p>
                      <p>
                        <b>Website:</b>  {{orgWebsite}}</p>
                      <p>
                        <b>Description</b>
                        <br> {{orgDescription}}</p>
                      <p>
                        <b>WiFi Connectivity:</b>{{offerWifi}}</p>
                      <p>
                        <b>Free WiFi:</b> {{wifi}}</p>
                      <p>
                        <b>WiFi Range:</b>{{chooseWifiRange}}</p>
  
                    </div>
  
  
                    <b>Selected Services</b>
                    <div >
                      <!-- {{a.title}} -->

                      *ngFor="let a of catService"
                    </div>
              </div>
              <div class="navButtons">
                  <button ion-button icon-start (click)="backToPage1()">
                    <ion-icon name="arrow-back"></ion-icon>
                    BACK
                  </button>
                  <button ion-button icon-end (click)="moveToPage3()">DONE
                    <ion-icon name="checkmark"></ion-icon>
                  </button>
              </div>

          </div>
        </div>
        <div class="for-progs">
          <div id="page1" padding>

          </div>
          <div id="page2" padding>

          </div>
          <div id="page3" padding>

          </div>
          <div id="page4" padding>

          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>